-----BEGIN CERTIFICATE-----
MIIDajCCAlICCQDi6hVrAEdqyDANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMC
VVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28x
ETAPBgNVBAoMCEdyaWQgTmV0MQswCQYDVQQLDAJVSTEVMBMGA1UEAwwMSmVmZiBQ
b3l6bmVyMSQwIgYJKoZIhvcNAQkBFhVqcG95em5lckBncmlkLW5ldC5jb20wHhcN
MTYwNzAxMTkyNzI1WhcNMTcxMTEzMTkyNzI1WjBWMQswCQYDVQQGEwJYWDEVMBMG
A1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZhdWx0IENvbXBhbnkgTHRk
MRIwEAYDVQQDDAlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQCcVSiKqbhCZC/Ow3WjB3HinJQfRC1HFaFECrCZtqt74AaKyVfHO4l2IYYx
DwDMgZJNzCpzh64nM3c7io/7UhJEzftaJUC4wOjOV4t0KqiTCDGW3jhF4/9BOIq1
B7v+Q/RQJTvJ8RvIcF8qfRf10lr+zvqqs6rPOz/c2hY/VBADB4Gysf74Yh235Bpq
bw4GThH6yJrVq/JMvlb9l6+YGfMv4ELdvqskrzdwJZVUI2DAxt5AYftQFUTkQzW8
XYRIwB3nuRlD23uz8h32yzVMW05VspI1ASx0AbvoQ0kyZk8J0jFRtw08/7ylNFtr
H2g/SV/PTxnmVQEKCYWhbzugRO4lAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAJA8
wpoXS8jEHuB+sb2GTsdHyb5MAVkhEfgJGFUmh36f4dry6mMkFQeQvA+egvnIAK5N
F2AGw5mkauYYrldW3O39vxzC1NZdRw4baMtd2XwHrjx6/S2zcoxcWSx7Qrm3ewoO
89eVcDMFv6QYaciTYLQIEPTe1z3VBG8E+yZlRCjnp5g2Qq4ZRbXyAbB8DiHoCskL
Aa0/LvZq6l1FhHCwgVYnKt/b4nMEJV+DApzJYTyZ3Aq/WJb19a4Hgv23Fijhvuw/
5l1TclzgEMcqDYiJBWtHbve+X3b5312DrjJD0nPZoOH8XnPnAdNnbPMGRqOAFipQ
6oQLXfLapBnWQva+jVw=
-----END CERTIFICATE-----
