-----BEGIN CERTIFICATE-----
MIIDLTCCAhWgAwIBAgIDIAAWMA0GCSqGSIb3DQEBCwUAMGYxCzAJBgNVBAYTAlVT
MRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQKEwhHcmlkIE5ldDEUMBIGA1UE
CxMLRW5naW5lZXJpbmcxGTAXBgNVBAMTEHZ6R3JpZFdpZGVUZXN0Q2EwHhcNMTYw
NjI5MDIwMTA1WhcNMzYwNjI0MDIwMTA1WjBMMQswCQYDVQQGEwJVUzETMBEGA1UE
CBMKQ2FsaWZvcm5pYTEWMBQGA1UEBxMNU2FuIEZyYW5jaXNjbzEQMA4GA1UEAxMH
VUkxLVRMUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAME6EqK0ZnxL
ngY25gEQUmACARyYuwxQ6AzNNsgZGNYa38DqHqo2PYM5oAuzBrw2nNulY+wDTznK
gfC7xkTTFhuF4J72cm8NMY6EZ2TqYBGuVe4UJ/XLgWGmnHfASdI8K9OoXZ20lLdq
yVXS7OyAxl2gcKIDLVMiQk/HIwpF13n+J/Dfh0m5cYWePwehnc7DY22bWXLllLVX
m4hFobAxw1jfIJ0WlqE3ZQu7EHIkdNy5roE+M9009u0s8Il8C8jnIb3/TP+uF66u
GGajm1BxhIUW66in+cQloPNs2XsPU6go4uujG+KYjO3LcPjyQWWgjwx49gob2dEb
w39PxVIfqpcCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAPKDEkOo914qMUypm7os6
eLO38cqa8nCjDmyt2li7dtxBmHWMckuS/20WowvaqpuIbrTQpkt5Nvl4rrCqNAc2
f9Yb1e8NGdSv90hFZkSEC99rSjqONSb6TDVRq9minsMFrFzIMJypBSCQWa5wXQk1
11X5t1nARGAuqFic1e66K0OMfnDee5H1/fd7L2ut9ul1yomAo1bmtAzgWr6WrQtP
q/bUeJ/RNSKg0+x2ALhDy7QIoP+6htxw1LJt4oBTDKGWGiiGjkO5kNyAdrhr3tiq
ZB1INt2h5bMeQLhM1EIyocESMT27koZfPAbdLGV/HsZhAYGo4yNUYUOKBJbIQu2i
GA==
-----END CERTIFICATE-----
